<% if recipe.user != current_user %>
  <% if user_signed_in? %>
    <% favorite = current_user.favorites.find_by(recipe: recipe) %>
    <button class="favorite-button recipe-action-button" data-url="<%= recipe_favorite_path(recipe) %>" data-method="<%= favorite ? 'delete' : 'post' %>">
      <i class="<%= favorite ? 'fa-solid fa-star' : 'fa-regular fa-star' %>" style="<%= favorite ? 'color: gold;' : '' %>"></i>
    </button>
  <% else %>
    <button class="favorite-button recipe-action-button guest-user">
      <i class="fa-regular fa-star"></i>
    </button>
  <% end %>
<% end %>

