<h1>検索結果</h1>

<%= render 'shared/search_form_category' %>
<%= render 'recipes/sort_tabs' %>

<p>検索結果: <%= @total_recipes_count %> 件見つかりました。</p>

<div class="container">
  <div id="recipes-list">
    <%= render 'recipes/recipe_list', recipes: @recipes %>
  </div>
</div>
