 @import "bootstrap";
 @import "header";
 @import "navigation";
 @import "home";
 @import "recipes";
 @import "recipe_card";
 @import "pagination";
 @import "search_form_category"; 
 @import "sort_tabs"; 
 @import "users";
 @import "registrations";

 .btn-green,
 a.btn-green {
background-color: #4f9e48;
color: #fff;
border: none;
text-decoration: none;
border-radius: 6px;
padding: 0.5em 1em;

&:hover {
    background-color: #229a3a;
}
}

.btn-cancel{
background-color: #ccc;
color: #fff;          
border: none;
text-decoration: none;
border-radius: 6px;
padding: 0.65em 1em;
transition: background-color 0.3s ease;

&:hover {
    background-color: #aaa;
    color: #fff;           
}
}

.mt-3 {
    margin-top: 1rem;
  
    p {
      font-size: 0.9rem;
      line-height: 1.6;
    }
  
    a {
      
      text-decoration: underline;
    }
  }

.flash-message-bg {
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  
  .flash-message-inner {
    width: 100%;
    height: 59px;
    max-width: 100%;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
  }
  
  
  