/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}
  
.nav-menu > li {
    position: relative;
    padding: 10px;
}
  
.nav-menu > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    min-width: 150px;
}

.nav-menu > .dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > .dropdown:hover > .dropdown-menu {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-menu li {
    padding: 5px;
    position: relative;
}

.dropdown-menu a {
    text-decoration: none;
    color: black;
}

.recipe-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  .recipe-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
  }
  
  /* application.css */
.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
  }
  