.bootstrap-area {
  background-image: asset-url('chameleon.jpg');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #d1d6da;
  min-height: 400px;

  main-title {
    font-family: 'Yomogi', cursive;
    font-weight: 600;
    color: #2f4f4f;
  }

  .section-title {
    color: #333;
    margin-top: 7rem;
  }
    .album {
        margin-top: 23rem;
      }
    
      .row-cols-1 {
        margin-top: 0rem;
      }

    .see-more-button {
      display: block;
      margin: 2rem auto 0;
      padding: 0.5rem 2rem;
      font-size: 1.2rem;
      border-radius: 999px;
      background-color: #4f9e48;
      color: white;
      text-align: center;
      text-decoration: none;
  
      &:hover {
        background-color: #229a3a;
      }
    }
}
