.recipe-index-wrapper {
  background-image: asset-url('leopa2.png');
  background-size: 60%;
  background-position: -200px center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 5rem;
  margin-bottom: 60px;

  .page-title {
    font-size: 2rem;
    font-weight: bold;
  }

  .post-count {
    margin-top: -2rem;
    font-size: 1rem;
  }

.search-form-category {
  margin-bottom: 10px;

  input[type="text"] {
    border-radius: 25px;
    padding: 0.5rem;
    border: 1px solid #ddd;
    font-size: 1rem;
  }

  button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
}
