.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-avatar-preview {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-btn-cancel {
  background-color: #ccc;
  color: #fff;          
  border: none;
  text-decoration: none;
  border-radius: 6px;
  padding: 0.1em 1em;
  transition: background-color 0.3s ease;

&:hover {
    background-color: #aaa;
    color: #fff;           
}
}

.profile-textarea {
  width: 500px;
  height: 200px;
  max-height: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

.profile-bottom-image {
  display: block;
  margin: 40px auto 0 auto;
  max-width: 450px;
  height: auto;
}
  