<h1><%= @category.name %> のレシピ一覧</h1>

<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
        （投稿者: <%= recipe.user.name %>）
      </li>
    <% end %>
  </ul>
<% else %>
  <p>このカテゴリにはまだレシピがありません。</p>
<% end %>
