<footer class="footer">
  <div class="social-icons">
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook"></i>
  </div>
  <p>© 2025 TERRA SPACE. All rights reserved.</p>
  <p class="credit">Designed & developed by Takafumi Noda</p>
</footer>
