<main class="login-form-wrapper mx-auto" style="max-width: 500px; padding-top: 100px;">
  <h1 class="text-center mb-4 fw-bold fs-2">アカウント情報</h1>
<div class="container mt-5">
  <div class="card p-4 shadow">   
    <div class="mb-3 border-bottom pb-2">
      <div class="text-muted small">メールアドレス</div>
      <div><%= current_user.email %></div>
    </div>

    <div class="mb-3 border-bottom pb-2">
      <div class="text-muted small">パスワード</div>
      <div>********</div>
    </div>

    <div class="mb-3 border-bottom pb-2">
      <div class="text-muted small">登録日</div>
      <div><%= current_user.created_at.strftime("%Y年%m月%d日") %></div>
    </div>

    <div class="text-end mt-4">
      <%= link_to "編集する", edit_user_registration_path, class: "btn-green" %>
    </div>
  </div>
</div>
<%= image_tag("leopa3.png", class: "bottom-image") %>
</main>
